img {
    width: 10%;
    object-fit: contain;
}

.navbar {
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    z-index: 5;

}

ul {
    display: flex;
    align-items: baseline;

}

li {
    list-style: none;
    padding: 1px 20px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.primaryBtn{
    cursor: pointer;
    font-weight: bolder;
    font-size: 0.8rem;
    padding: 13px 25px;
    border: none;
    color: white;
    background: #db183c;
    border-radius: 15px;
    margin-left: 20px;
    transition: all 0.25s ease;
}

.primaryBtn:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px -10px rgba(219,24,44,0.6);
}